<h1> Add a picture <h1>
  <%= link_to("Back to pictures","/pictures") %>
  <%= form_for(@picture) do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist%><br>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url%><br>
  </p>
  <p>
    <%= f.submit "Save"%>
  </p>
  <% end%>
